* { 
    background-color: #F5F5F5;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
} 

form {
    display:block;
    width: 300px;
    box-sizing:border-box;
}

header {
    background-color: #333;
    color: #000; /* Set the header text color to black */
    padding: 5px;
}

nav {
    display: flex;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    margin: 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #555;
}

#verzenden:hover {
    background-color: #555;
    color: #fff;
}
