* {
    box-sizing: border-box; /* Include padding and border in box model */
}

body {
    margin: 0;
}

.container {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 5px;
}

form-container {
    width: 300px;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

header {
    background-color: #333;
    color: #999;
    padding: 5px;
}

nav {
    display: flex;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #555;
}

#verzenden:hover {
    background-color: #555;
    color: #fff;
}
