* {
    background-color: darkgrey;
}

body {
    margin: 5px;
}

.container {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.container form {
    width: 300px;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

header {
    background-color: #333;
    padding: 5px;
}

nav {
    display: flex;
}

a {
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #555;
}

#verzenden:hover {
    background-color: #555;
    color: #fff;
}
